<%= form_with(model: payment, url: category_payments_path) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, placeholder: "Full Name*", class: "input-default first" %>
  </div>

  <div>
    <%= form.number_field :amount, step: '0.01', placeholder: "Amount*", class: "input-default" %>
  </div>

  <div class="btns max-width flex-center actions">
    <%= form.submit %>
  </div>
<% end %>
