<li id="<%= dom_id categorie %>" class="row card categorie">
  <img src=<%= categorie.icon %> alt=<%= "Image of categorie #{categorie.name}" %>>
  
  <div class="column description">
    <h3 class="max-content-flex row"><%= categorie.name %></h3>
    <p><%= categorie.updated_at %></p>
  </div>
  <p class="max-content-flex flex-center">
    <strong>$<%= categorie.total_amount %></strong>
  </p>
</li>
