<%= form_with(model: categorie) do |form| %>
  <% if categorie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(categorie.errors.count, "error") %> prohibited this categorie from being saved:</h2>

      <ul>
        <% categorie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :icon, "Icon URL", style: "display: block" %>
    <%= form.text_field :icon %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
